[Unit]
Description=Service {{ service_name }}
[Service]
User={{ user }}
Type=simple
WorkingDirectory={{ instance_dir }}
ExecStart={{ instance_dir }}/bin/{{ app_bin }}
Environment=HTTP_PORT={{ instance_port }}
Environment=GIT_DIR={{ git_dir }}
Restart=on-abort
[Install]
WantedBy=default.target
